@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-slide {
  height: calc((100% - 100px) / 2) !important;
}
@media (min-width: 1536px) {
  .swiper-slide {
    height: calc((100%) / 3) !important;
  }
}


@layer components {
  .sectionMain {
    @apply h-[100dvh];
  }
  .maxContainer {
    @apply max-w-[2000px];
  }

  .linksMenu {
    @apply hover:shadow hover:drop-shadow-2xl      uppercase text-base
    max-md:bg-white border-0 hover:border-collapse my-5
    max-md:hover:text-blue max-md:text-black font-brunoAceSc md:hover:text-strong-red
    text-strong-red transition-all  hover:border-strong-red md:text-white  duration-500  hover:border-solid z-auto
      md:my-0 p-2  max-md:w-full;
  }

  .card-project {
    @apply shadow-[rgba(50,50,93,0.25)_0px_50px_100px_-20px,rgba(0,0,0,0.3)_0px_30px_60px_-30px,rgba(10,37,64,0.35)_0px_-2px_6px_0px_inset];
  }

  .card-project-links {
    @apply text-[gray]  border-solid border-2 hover:text-teal hover:border-2 hover:border-solid hover:border-teal rounded-xl p-2 m-2;
  }

  .contact-content {
    @apply flex items-center space-x-1 justify-center;
  }

  .contact-icon {
    @apply md:h-7 md:w-7 h-5 w-5   max-mobileUL:h-4 max-mobileUL:w-4 animate-pulse text-[#1abc9c];
  }

  .contact-data {
    @apply sm:text-xs md:text-xs   xl:text-2xl  max-mobileUL:text-xs font-brunoAceSc;
  }
  .contact-input {
    @apply outline-none bg-slate-400/10 rounded-sm border border-[#242424] py-2 px-4
    text-teal placeholder-gray-500 transition-all focus:border-[#1abc9c]
    focus:text-teal hover:border-teal w-full;
  }
  .background-hero {
    @apply bg-no-repeat    bg-cover bg-center bg-fixed bg-hero;
  }
}


