@tailwind base;
@tailwind components;
@tailwind utilities;



.swiper-slide {

  height: calc((100%) / 2) !important;

}
@media (min-width: 1536px) { 
  
.swiper-slide {

  height: calc((100%) / 3) !important;

}
}

@layer components {
  .heroButton {
    @apply px-6  py-2 border-strong-red  uppercase text-xs tracking-widest  text-strong-red transition-all m-1 hover:border  hover:border-strong-red hover:text-blue;
  }
  .sectionMain{
    @apply h-[100dvh]  top-[66px] box-border
  }
  .contactInput{
    @apply outline-none bg-slate-400/10 rounded-sm border border-[#242424] py-4 px-6
    text-gray-500 placeholder-gray-500 transition-all focus:border-[#F7AB0A]/40
    focus:text-[#F7AB0A]/40 hover:border-[#F7AB0A]/40

  }


}


